.message-history {
    font-size: 10px;
    margin-top: 3px;
    height: 75px;
    background-color: #111316;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-content: flex-end;
    justify-content: flex-end;
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
}

.message-history-title {
    font-size: 12px;
    color: white;
    font-weight: bold;
}